Dublin_combine_clean/
Synthetic_v3_InstanceSegmentation/
data_annotated_new/
HAIS/
SoftGroup
__pycache__/
hello.py~
output_prepare_data.txt
output.txt
preprocessing.ipynb
test.txt
HAIS/mergeResult.py
HAIS/test.py
HAIS/train.py
HAIS/config/hais_run_stpls3d.yaml
HAIS/data/prepare_data_inst_instance_stpls3d.py
HAIS/data/prepare_data_statistic_stpls3d.py
HAIS/data/stpls3d_inst.py
HAIS/lib/hais_ops/setup.py
HAIS/lib/hais_ops/build/temp.linux-x86_64-3.8/.ninja_log
HAIS/lib/hais_ops/build/temp.linux-x86_64-3.8/build.ninja
HAIS/lib/hais_ops/functions/hais_ops.py
HAIS/lib/hais_ops/HAIS_OP.egg-info/PKG-INFO
HAIS/lib/hais_ops/src/cuda_utils.h
HAIS/lib/hais_ops/src/cuda.cu
HAIS/lib/hais_ops/src/hais_ops_api.cpp
HAIS/lib/hais_ops/src/hais_ops.cpp
HAIS/lib/hais_ops/src/hais_ops.h
HAIS/lib/hais_ops/src/bfs_cluster/bfs_cluster.cpp
HAIS/lib/hais_ops/src/bfs_cluster/bfs_cluster.cu
HAIS/lib/hais_ops/src/bfs_cluster/bfs_cluster.h
HAIS/lib/hais_ops/src/cal_iou_and_masklabel/cal_iou_and_masklabel.cpp
HAIS/lib/hais_ops/src/cal_iou_and_masklabel/cal_iou_and_masklabel.cu
HAIS/lib/hais_ops/src/cal_iou_and_masklabel/cal_iou_and_masklabel.h
HAIS/lib/hais_ops/src/datatype/datatype.cpp
HAIS/lib/hais_ops/src/datatype/datatype.h
HAIS/lib/hais_ops/src/get_iou/get_iou.cpp
HAIS/lib/hais_ops/src/get_iou/get_iou.cu
HAIS/lib/hais_ops/src/get_iou/get_iou.h
HAIS/lib/hais_ops/src/hierarchical_aggregation/hierarchical_aggregation.cpp
HAIS/lib/hais_ops/src/hierarchical_aggregation/hierarchical_aggregation.cu
HAIS/lib/hais_ops/src/hierarchical_aggregation/hierarchical_aggregation.h
HAIS/lib/hais_ops/src/roipool/roipool.cpp
HAIS/lib/hais_ops/src/roipool/roipool.cu
HAIS/lib/hais_ops/src/roipool/roipool.h
HAIS/lib/hais_ops/src/sec_mean/sec_mean.cpp
HAIS/lib/hais_ops/src/sec_mean/sec_mean.cu
HAIS/lib/hais_ops/src/sec_mean/sec_mean.h
HAIS/lib/hais_ops/src/voxelize/voxelize.cpp
HAIS/lib/hais_ops/src/voxelize/voxelize.cu
HAIS/lib/hais_ops/src/voxelize/voxelize.h
HAIS/lib/spconv/.gitignore
HAIS/lib/spconv/.gitmodules
HAIS/lib/spconv/CMakeLists.txt
HAIS/lib/spconv/LICENSE
HAIS/lib/spconv/README.md
HAIS/lib/spconv/setup.py
HAIS/lib/spconv/include/paramsgrid.h
HAIS/lib/spconv/include/prettyprint.h
HAIS/lib/spconv/include/pybind11_utils.h
HAIS/lib/spconv/include/torch_utils.h
HAIS/lib/spconv/include/spconv/box_iou.h
HAIS/lib/spconv/include/spconv/geometry.h
HAIS/lib/spconv/include/spconv/indice.cu.h
HAIS/lib/spconv/include/spconv/indice.h
HAIS/lib/spconv/include/spconv/maxpool.h
HAIS/lib/spconv/include/spconv/mp_helper.h
HAIS/lib/spconv/include/spconv/nms_gpu.h
HAIS/lib/spconv/include/spconv/nms.h
HAIS/lib/spconv/include/spconv/point2voxel.h
HAIS/lib/spconv/include/spconv/pool_ops.h
HAIS/lib/spconv/include/spconv/reordering.cu.h
HAIS/lib/spconv/include/spconv/reordering.h
HAIS/lib/spconv/include/spconv/spconv_ops.h
HAIS/lib/spconv/include/tensorview/helper_kernel.cu.h
HAIS/lib/spconv/include/tensorview/helper_launch.h
HAIS/lib/spconv/include/tensorview/tensorview.h
HAIS/lib/spconv/include/utility/timer.h
HAIS/lib/spconv/spconv/__init__.py
HAIS/lib/spconv/spconv/conv.py
HAIS/lib/spconv/spconv/functional.py
HAIS/lib/spconv/spconv/modules.py
HAIS/lib/spconv/spconv/ops.py
HAIS/lib/spconv/spconv/pool.py
HAIS/lib/spconv/spconv/test_utils.py
HAIS/lib/spconv/spconv/utils/__init__.py
HAIS/lib/spconv/src/spconv/all.cc
HAIS/lib/spconv/src/spconv/CMakeLists.txt
HAIS/lib/spconv/src/spconv/indice.cc
HAIS/lib/spconv/src/spconv/indice.cu
HAIS/lib/spconv/src/spconv/maxpool.cc
HAIS/lib/spconv/src/spconv/maxpool.cu
HAIS/lib/spconv/src/spconv/reordering.cc
HAIS/lib/spconv/src/spconv/reordering.cu
HAIS/lib/spconv/src/utils/all.cc
HAIS/lib/spconv/src/utils/CMakeLists.txt
HAIS/lib/spconv/src/utils/nms.cu
HAIS/lib/spconv/test/CMakeLists.txt
HAIS/lib/spconv/test/test_conv.py
HAIS/lib/spconv/test/src/catch_main.cpp
HAIS/lib/spconv/test/src/test_conv_rule.cpp
HAIS/lib/spconv/third_party/catch2/catch.hpp
HAIS/lib/spconv/third_party/pybind11/.appveyor.yml
HAIS/lib/spconv/third_party/pybind11/.gitignore
HAIS/lib/spconv/third_party/pybind11/.gitmodules
HAIS/lib/spconv/third_party/pybind11/.readthedocs.yml
HAIS/lib/spconv/third_party/pybind11/.travis.yml
HAIS/lib/spconv/third_party/pybind11/CMakeLists.txt
HAIS/lib/spconv/third_party/pybind11/CONTRIBUTING.md
HAIS/lib/spconv/third_party/pybind11/ISSUE_TEMPLATE.md
HAIS/lib/spconv/third_party/pybind11/LICENSE
HAIS/lib/spconv/third_party/pybind11/MANIFEST.in
HAIS/lib/spconv/third_party/pybind11/README.md
HAIS/lib/spconv/third_party/pybind11/setup.cfg
HAIS/lib/spconv/third_party/pybind11/setup.py
HAIS/lib/spconv/third_party/pybind11/docs/basics.rst
HAIS/lib/spconv/third_party/pybind11/docs/benchmark.py
HAIS/lib/spconv/third_party/pybind11/docs/benchmark.rst
HAIS/lib/spconv/third_party/pybind11/docs/changelog.rst
HAIS/lib/spconv/third_party/pybind11/docs/classes.rst
HAIS/lib/spconv/third_party/pybind11/docs/compiling.rst
HAIS/lib/spconv/third_party/pybind11/docs/conf.py
HAIS/lib/spconv/third_party/pybind11/docs/Doxyfile
HAIS/lib/spconv/third_party/pybind11/docs/faq.rst
HAIS/lib/spconv/third_party/pybind11/docs/index.rst
HAIS/lib/spconv/third_party/pybind11/docs/intro.rst
HAIS/lib/spconv/third_party/pybind11/docs/limitations.rst
HAIS/lib/spconv/third_party/pybind11/docs/pybind11_vs_boost_python1.svg
HAIS/lib/spconv/third_party/pybind11/docs/pybind11_vs_boost_python2.svg
HAIS/lib/spconv/third_party/pybind11/docs/reference.rst
HAIS/lib/spconv/third_party/pybind11/docs/release.rst
HAIS/lib/spconv/third_party/pybind11/docs/requirements.txt
HAIS/lib/spconv/third_party/pybind11/docs/upgrade.rst
HAIS/lib/spconv/third_party/pybind11/docs/_static/theme_overrides.css
HAIS/lib/spconv/third_party/pybind11/docs/advanced/classes.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/embedding.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/exceptions.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/functions.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/misc.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/smart_ptrs.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/cast/chrono.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/cast/custom.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/cast/eigen.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/cast/functional.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/cast/index.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/cast/overview.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/cast/stl.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/cast/strings.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/pycpp/index.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/pycpp/numpy.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/pycpp/object.rst
HAIS/lib/spconv/third_party/pybind11/docs/advanced/pycpp/utilities.rst
HAIS/lib/spconv/third_party/pybind11/include/pybind11/attr.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/buffer_info.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/cast.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/chrono.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/common.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/complex.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/eigen.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/embed.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/eval.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/functional.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/iostream.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/numpy.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/operators.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/options.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/pybind11.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/pytypes.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/stl_bind.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/stl.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/detail/class.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/detail/common.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/detail/descr.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/detail/init.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/detail/internals.h
HAIS/lib/spconv/third_party/pybind11/include/pybind11/detail/typeid.h
HAIS/lib/spconv/third_party/pybind11/pybind11/__init__.py
HAIS/lib/spconv/third_party/pybind11/pybind11/__main__.py
HAIS/lib/spconv/third_party/pybind11/pybind11/_version.py
HAIS/lib/spconv/third_party/pybind11/tests/CMakeLists.txt
HAIS/lib/spconv/third_party/pybind11/tests/conftest.py
HAIS/lib/spconv/third_party/pybind11/tests/constructor_stats.h
HAIS/lib/spconv/third_party/pybind11/tests/local_bindings.h
HAIS/lib/spconv/third_party/pybind11/tests/object.h
HAIS/lib/spconv/third_party/pybind11/tests/pybind11_cross_module_tests.cpp
HAIS/lib/spconv/third_party/pybind11/tests/pybind11_tests.cpp
HAIS/lib/spconv/third_party/pybind11/tests/pybind11_tests.h
HAIS/lib/spconv/third_party/pybind11/tests/pytest.ini
HAIS/lib/spconv/third_party/pybind11/tests/test_buffers.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_buffers.py
HAIS/lib/spconv/third_party/pybind11/tests/test_builtin_casters.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_builtin_casters.py
HAIS/lib/spconv/third_party/pybind11/tests/test_call_policies.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_call_policies.py
HAIS/lib/spconv/third_party/pybind11/tests/test_callbacks.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_callbacks.py
HAIS/lib/spconv/third_party/pybind11/tests/test_chrono.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_chrono.py
HAIS/lib/spconv/third_party/pybind11/tests/test_class.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_class.py
HAIS/lib/spconv/third_party/pybind11/tests/test_constants_and_functions.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_constants_and_functions.py
HAIS/lib/spconv/third_party/pybind11/tests/test_copy_move.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_copy_move.py
HAIS/lib/spconv/third_party/pybind11/tests/test_docstring_options.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_docstring_options.py
HAIS/lib/spconv/third_party/pybind11/tests/test_eigen.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_eigen.py
HAIS/lib/spconv/third_party/pybind11/tests/test_enum.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_enum.py
HAIS/lib/spconv/third_party/pybind11/tests/test_eval_call.py
HAIS/lib/spconv/third_party/pybind11/tests/test_eval.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_eval.py
HAIS/lib/spconv/third_party/pybind11/tests/test_exceptions.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_exceptions.py
HAIS/lib/spconv/third_party/pybind11/tests/test_factory_constructors.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_factory_constructors.py
HAIS/lib/spconv/third_party/pybind11/tests/test_gil_scoped.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_gil_scoped.py
HAIS/lib/spconv/third_party/pybind11/tests/test_iostream.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_iostream.py
HAIS/lib/spconv/third_party/pybind11/tests/test_kwargs_and_defaults.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_kwargs_and_defaults.py
HAIS/lib/spconv/third_party/pybind11/tests/test_local_bindings.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_local_bindings.py
HAIS/lib/spconv/third_party/pybind11/tests/test_methods_and_attributes.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_methods_and_attributes.py
HAIS/lib/spconv/third_party/pybind11/tests/test_modules.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_modules.py
HAIS/lib/spconv/third_party/pybind11/tests/test_multiple_inheritance.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_multiple_inheritance.py
HAIS/lib/spconv/third_party/pybind11/tests/test_numpy_array.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_numpy_array.py
HAIS/lib/spconv/third_party/pybind11/tests/test_numpy_dtypes.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_numpy_dtypes.py
HAIS/lib/spconv/third_party/pybind11/tests/test_numpy_vectorize.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_numpy_vectorize.py
HAIS/lib/spconv/third_party/pybind11/tests/test_opaque_types.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_opaque_types.py
HAIS/lib/spconv/third_party/pybind11/tests/test_operator_overloading.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_operator_overloading.py
HAIS/lib/spconv/third_party/pybind11/tests/test_pickling.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_pickling.py
HAIS/lib/spconv/third_party/pybind11/tests/test_pytypes.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_pytypes.py
HAIS/lib/spconv/third_party/pybind11/tests/test_sequences_and_iterators.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_sequences_and_iterators.py
HAIS/lib/spconv/third_party/pybind11/tests/test_smart_ptr.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_smart_ptr.py
HAIS/lib/spconv/third_party/pybind11/tests/test_stl_binders.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_stl_binders.py
HAIS/lib/spconv/third_party/pybind11/tests/test_stl.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_stl.py
HAIS/lib/spconv/third_party/pybind11/tests/test_tagbased_polymorphic.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_tagbased_polymorphic.py
HAIS/lib/spconv/third_party/pybind11/tests/test_virtual_functions.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_virtual_functions.py
HAIS/lib/spconv/third_party/pybind11/tests/test_cmake_build/CMakeLists.txt
HAIS/lib/spconv/third_party/pybind11/tests/test_cmake_build/embed.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_cmake_build/main.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_cmake_build/test.py
HAIS/lib/spconv/third_party/pybind11/tests/test_cmake_build/installed_embed/CMakeLists.txt
HAIS/lib/spconv/third_party/pybind11/tests/test_cmake_build/installed_function/CMakeLists.txt
HAIS/lib/spconv/third_party/pybind11/tests/test_cmake_build/installed_target/CMakeLists.txt
HAIS/lib/spconv/third_party/pybind11/tests/test_cmake_build/subdirectory_embed/CMakeLists.txt
HAIS/lib/spconv/third_party/pybind11/tests/test_cmake_build/subdirectory_function/CMakeLists.txt
HAIS/lib/spconv/third_party/pybind11/tests/test_cmake_build/subdirectory_target/CMakeLists.txt
HAIS/lib/spconv/third_party/pybind11/tests/test_embed/catch.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_embed/CMakeLists.txt
HAIS/lib/spconv/third_party/pybind11/tests/test_embed/external_module.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_embed/test_interpreter.cpp
HAIS/lib/spconv/third_party/pybind11/tests/test_embed/test_interpreter.py
HAIS/lib/spconv/third_party/pybind11/tools/check-style.sh
HAIS/lib/spconv/third_party/pybind11/tools/FindCatch.cmake
HAIS/lib/spconv/third_party/pybind11/tools/FindEigen3.cmake
HAIS/lib/spconv/third_party/pybind11/tools/FindPythonLibsNew.cmake
HAIS/lib/spconv/third_party/pybind11/tools/libsize.py
HAIS/lib/spconv/third_party/pybind11/tools/mkdoc.py
HAIS/lib/spconv/third_party/pybind11/tools/pybind11Config.cmake.in
HAIS/lib/spconv/third_party/pybind11/tools/pybind11Tools.cmake
HAIS/lib/spconv/third_party/pybind11/tools/clang/__init__.py
HAIS/lib/spconv/third_party/pybind11/tools/clang/.gitignore
HAIS/lib/spconv/third_party/pybind11/tools/clang/cindex.py
HAIS/lib/spconv/third_party/pybind11/tools/clang/enumerations.py
HAIS/lib/spconv/third_party/pybind11/tools/clang/LICENSE.TXT
HAIS/lib/spconv/third_party/pybind11/tools/clang/README.md
HAIS/model/hais/hais.py
HAIS/util/config.py
HAIS/util/eval.py
HAIS/util/log.py
HAIS/util/utils_3d.py
HAIS/util/utils.py
