/lib/**/build/**
/lib/hais_ops/HAIS_OP.*
/lib/softgroup_ops/SOFTGROUP_OP.*
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/installation-checkpoint.bash
**/.ipynb_checkpoints/
**/**/.ipynb_checkpoints/
__pycache__/
**/__pycache__/
**/**/__pycache__/
dataset/stpls3d/Synthetic_v3_InstanceSegmentation.zip
dataset/stpls3d/Synthetic_v3_InstanceSegmentation/
dataset/stpls3d/train/
dataset/stpls3d/val/
dataset/stpls3d/train_50_25/
core
dataset/stpls3d/Untitled.ipynb
debugg_HAIS.py
dummy_data.pth
dummy_data_test.pth
work_dirs/
